*{
    

margin: 0;
  font-family: "Montserrat", sans-serif;
  
color: white;
/* if the content is more then page then content will overflow */
overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
    background-color: #000;
}
.sidebar{
    background-color: #000;
    margin-right: 0.5rem;
    width: 300px;
    border: 1rem;/* 1rem=16px*/
}
.main-content{
    background-color: #121212;
    /* flex:1 describes give size for other elements as per their requirements but give me the rest space of flex box */
    flex: 1;
    overflow: auto; /*shows scroll bar only when necesary*/
    padding: 0 1.5rem 0 1rem;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
}
a{
    text-decoration: none;
    color: white;
}
.nav{
    border-radius: 1rem;
    background-color: #121212;
    display: flex;
    flex-direction: column;
   height: 100px;
   justify-content: center;
    
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 40px;
    opacity: 0.7;
    padding: 8px 0px 0px 1.5rem;
}

.nav-option:hover{
    
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library
{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.55rem;
    padding: 5px 1rem 0px 8px;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-options img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
   
    
    font-size: 1.1rem;
    
    display: flex;
}
.icons i{
    opacity: 0.7;
margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}
.lib-box{
    background-color: #232323;
    height: 8rem;
    border-radius: 10px;
    margin: 0 0 0.5rem 0;
    padding: 0.5rem 1.25rem;
}
.box-p1{
    
    font-size: 1rem;
    font-weight: 700;
}
.box-p2{
    font-size: 0.75rem;
    margin-top: 0.6rem;
    opacity: 0.75;
}
.badge{
    color: black;
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 4px 16px 4px 16px;
    font-weight: 650;
    margin-top: 0.75rem;
    height: 2rem;
}
.nav-icons img{
    color: black;
    height: 1.25rem;

    
}
.nav-icons{
    margin-left: 0.6rem;
    
}
.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 0.5rem 0 0.4rem 0;
    z-index: 1;
}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    margin-right: 0.5rem;
}
.sticky-nav-options .badge i{
    color: black;
}
.sticky-nav-options div{
   
    display: flex;
    align-items: center;
}
.nav-item{
    margin-right: 1rem;
}
.dark-badge{
    background-color: #000;
    color: white;
}
@media(max-width:1000px){
    .hideone{
        display: none;
    }
}
.card{
    background-color: #232323;
    width:150px ;
    
    border-radius: 1rem;
    padding: 14px;
    margin: 1rem;
    
}
.card-container{
    display: flex;
   flex-wrap: wrap;
  
}
.card img{
    width: 100%;
    border-radius: 1rem;
}
.card .card-title{
    font-size: 100;
    font-weight: 600;
    padding-bottom: 8px;
}
.card .card-info{
    font-size:0.75rem;
    opacity: 0.7;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 60%;
    border-top: 1px solid white;
    opacity: 0.5;
}
.album{
    width: 25%;
}
.player{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.control{
    width: 25%;
}
.music-player{

    display: flex;
    
}
.player-control-icon{
    height: 1rem;
    margin: 0 8px 0 8px;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first,.sec,.fourth,.fifth{
    height: 0.7rem;
    opacity: 0.7;
}
.first:hover,.sec:hover,.fourth:hover,.fifth:hover{
    opacity: 1;
}
.pause{
    height: 1rem;
}
.progress-bar{
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
    
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    z-index: 10;
    margin-top: -6px;
}
.alb{
    height: 3rem;
}
.alb-title{
    font-weight: 600;
}
.alb-info{
    opacity: 0.7;
}
.album{
    display: flex;
    
    align-items: center;
}
.a{
    margin: 0 3px 0 6px;
}
.foricon{
    margin-left:1rem;
    
}
.foricon i{
    padding: 0 3px 0 3px;
    opacity: 0.7;
}
.b{
    height: 1rem;
}
.control{
    display: flex;
    align-items: center;
}
.d{
    margin: 0 3px 0 6px;
}
.c{
    display: flex;
}